body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 25pt;
}

.navbar .left a {
    text-decoration: none;
    color: black;
}

.navbar .right a {
    color: black;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    margin: 20px 0;
    max-width: 600px;
}

.card img {
    width: 100%;
}

a.card-title {
    font-size: 25px;
    font-style: italic;
}


.about img {
    width: 600px;
}